p{
    background-color: rgb(67, 238, 67);
    font-size: 24px;
}
.container{
    display: inline-block;
    text-align: center;
    background-color: rgb(87, 87, 87);
}
.main{
    text-align: center;
}