p{
    background-color: rgb(67, 238, 67);
    font-size: 24px;
}
.container{
    margin: 20px;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    background-color: rgb(87, 87, 87);
}
.main{
    text-align: center;
}
.container>img{
    max-width: 400px;
}